.page
	.columns
		%h1
			Hello world
		%p 
			= lorem.paragraphs 4
		%img{ :src => lorem.image('320x400')}
		%img{ :src => lorem.image('700x400')}
		%p 
			= lorem.paragraphs 3
		%img{ :src => lorem.image('320x400')}
		%p 
			= lorem.paragraphs 3
		%img{ :src => lorem.image('500x400')}
	
	%img.wide{ :src => lorem.image('700x400')}
	.columns
		%h1
			Hello world
		%p 
			= lorem.paragraphs 4
		%img{ :src => lorem.image('320x400')}
		%img{ :src => lorem.image('700x400')}
		%p 
			= lorem.paragraphs 3
		%img{ :src => lorem.image('320x400')}
		%p 
			= lorem.paragraphs 3
		%img{ :src => lorem.image('500x400')}
	

	.addthis_toolbox.addthis_default_style.addthis_32x32_style
		%a.addthis_button_facebook
		%a.addthis_button_twitter
		%a.addthis_button_google_plusone_badge
		%a.addthis_counter.addthis_bubble_style
	:javascript
		var addthis_config = {"data_track_addressbar":true};
	%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-51515e430e09dbc0", :type => "text/javascript"}